{
    "trailingComma": "all",
    "semi": false,
    "singleQuote": true,
    "useTabs": false,
    "endOfLine": "auto",
    "bracketSpacing": true,
    "printWidth": 85,
    "tabWidth": 4,
    "usePrettierrc": false
}
