.array-container {
    display: flex;
    width: 60vw;
    height: 90vh;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
}

.array-bar {
    width: 25px;
    display: inline-block;
    margin: 0 1px;
}

.data-container {
    width: 100vw;
    height: 60vh;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bar {
    /* width: 28px; */
    transition: 0.2s all ease;
    user-select: none; 
}

.bar > span {
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #000;
    padding-top: 4px;
}
